QBLibrary/Service References/QBServer/QBServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://RandREng.com/contracts/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://RandREng.com/contracts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://RandREng.com/contracts/Imports">
      <xsd:import schemaLocation="http://localhost:8000/QBServer?xsd=xsd0" namespace="http://RandREng.com/contracts/" />
      <xsd:import schemaLocation="http://localhost:8000/QBServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQBService_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IQBService_Send_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="IQBService_GetMaxVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxVersion" />
  </wsdl:message>
  <wsdl:message name="IQBService_GetMaxVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IQBService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IQBService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:portType name="IQBService">
    <wsdl:operation name="Send">
      <wsdl:input wsaw:Action="http://RandREng.com/contracts/IQBService/Send" message="tns:IQBService_Send_InputMessage" />
      <wsdl:output wsaw:Action="http://RandREng.com/contracts/IQBService/SendResponse" message="tns:IQBService_Send_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxVersion">
      <wsdl:input wsaw:Action="http://RandREng.com/contracts/IQBService/GetMaxVersion" message="tns:IQBService_GetMaxVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://RandREng.com/contracts/IQBService/GetMaxVersionResponse" message="tns:IQBService_GetMaxVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://RandREng.com/contracts/IQBService/Disconnect" message="tns:IQBService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://RandREng.com/contracts/IQBService/DisconnectResponse" message="tns:IQBService_Disconnect_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>