QBLibrary/Service References/QBServer/QBServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://RandREng.com/contracts/" elementFormDefault="qualified" targetNamespace="http://RandREng.com/contracts/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:QBRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QBRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QBRequest" nillable="true" type="tns:QBRequest" />
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendResult" nillable="true" type="tns:QBResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QBResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QBResponse" nillable="true" type="tns:QBResponse" />
  <xs:element name="GetMaxVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="tns:QBRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxVersionResult" nillable="true" type="tns:QBResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>